---
import { Image } from "astro:assets";
---

<section aria-label="Personal Biography" class="flex gap-10">
  <div>
    <h1 class="inline-flex flex-col gap-2.5">
      <span> Diego Reyes Cabrera </span>
      <span class="text-zinc-500">Software Engineer</span>
    </h1>

    <p class="my-5 text-zinc-500">
      I'm Diego, a software engineer and web specialist with over 4 years of
      experience, and every project I deliver carries my personal watermark: an
      obsessive attention to detail, from performance optimization to
      pixel-perfect responsiveness.
    </p>

    <p class="text-zinc-500">
      No one cares more about getting it right than I do.
      <br />
      If you're going to do it, do it <em>well.</em>
    </p>
  </div>

  <figure class="hidden sm:block">
    <Image
      src="/profile.webp"
      width={500}
      height={500}
      alt="Diego Reyes Cabrera"
      class="aspect-square w-full rounded-xl object-cover object-top shadow"
    />
  </figure>
</section>
