---
import { Image } from "astro:assets";

interface Props {
  hideRole?: boolean;
}

const { hideRole = false } = Astro.props;
---

<section
  aria-label="Profile"
  class="flex items-center gap-4 sm:flex-col lg:flex-row"
>
  <Image
    src="/profile-small.webp"
    alt="Diego Reyes Cabrera"
    width={150}
    height={150}
    class={`object-cover sm:rounded-full object-top lg:rounded-lg rounded-lg ${hideRole ? "size-10" : "size-14"}`}
  />

  <div class="space-y-2 *:leading-none sm:text-center lg:text-left">
    <h2 class="text-sm font-medium">Diego Reyes Cabrera</h2>

    {!hideRole && <p class="text-xs text-zinc-700">Software Engineer</p>}
  </div>
</section>
