<table class="w-full table-fixed border-separate border-spacing-1">
  <tbody>
    <tr class="group">
      <td>React</td>
      <td>Next.js</td>
    </tr>
    <tr class="group">
      <td>Tailwind</td>
      <td>Astro</td>
    </tr>
    <tr class="group">
      <td>TypeScript</td>
      <td>MDX</td>
    </tr>
    <tr class="group">
      <td>Node.js</td>
      <td>Git</td>
    </tr>
    <tr class="group">
      <td>PostgreSQL</td>
      <td>Prisma</td>
    </tr>
  </tbody>
</table>

<style>
  tr {
    @apply bg-zinc-100;
  }

  td {
    @apply p-4 text-zinc-600 group-first:first:rounded-tl-xl group-first:last:rounded-tr-xl group-last:first:rounded-bl-xl group-last:last:rounded-br-xl;
  }
</style>
