---
import { TOOLS } from "@/constants/tools";

const toolRows = TOOLS.reduce((acc, tool, index) => {
  if (index % 2 === 0) {
    acc.push([tool]);
  } else {
    acc[acc.length - 1].push(tool);
  }

  return acc;
}, [] as string[][]);
---

<table class="w-full table-fixed border-separate border-spacing-1">
  <tbody>
    {
      toolRows.map((row) => (
        <tr class="group">
          <td>{row[0]}</td>
          <td>{row[1]}</td>
        </tr>
      ))
    }
  </tbody>
</table>

<style>
  tr {
    @apply bg-zinc-100;
  }

  td {
    @apply p-4 text-zinc-600 group-first:first:rounded-tl-xl group-first:last:rounded-tr-xl group-last:first:rounded-bl-xl group-last:last:rounded-br-xl;
  }
</style>
