---
import ArticleList from "@/components/lists/article-list.astro";
import MainLayout from "@/layouts/main-layout.astro";
---

<MainLayout title="Blog" description="Blog posts by Diego Reyes Cabrera">
  <main>
    <h1>Blog</h1>

    <p class="mb-10 mt-2.5 text-zinc-500 sm:mb-14">
      I write articles about tough challenges I faced, new technologies I
      learned and guidelines I would've liked to follow earlier in my career.
    </p>

    <ArticleList />
  </main>
</MainLayout>
