---
import WorkList from "./work-list.astro";

interface Props {
  currentProjectId: string;
}

const { currentProjectId } = Astro.props;
---

<section>
  <hr class="mb-20 mt-14 border-zinc-200" />

  <h2 class="my-8">More Projects</h2>

  <WorkList omit={currentProjectId} />
</section>
