---
import { getCollection } from "astro:content";
import WorkList from "../personal-info/work-list.astro";

const projects = await getCollection("projects");

const currentUrl = new URL(Astro.url.pathname, Astro.site);

const filteredProjects = projects.filter((project) => {
  return !currentUrl.pathname.includes(project.id);
});
---

<section>
  <hr class="mb-20 mt-14 border-zinc-200" />

  <h2 class="my-8">More Projects</h2>

  <WorkList
    list={filteredProjects.map((project) => ({
      ...project.data,
      url: `/projects/${project.id}`,
      img: {
        src: project.data.imgUrl,
        alt: project.data.title,
      },
    }))}
  />
</section>
