<footer
  class="mt-10 flex gap-2.5 border-t-2 border-solid border-slate-100 pt-10 sm:mt-20 sm:*:leading-none"
>
  <p class="text-sm">
    Made by
    <span class="text-black"> Diego Reyes Cabrera </span>
  </p>
</footer>
