---
import { HamburgerButton } from "../buttons/hamburger-button";
import SectionNav from "../nav/section-nav.astro";
import SocialNav from "../nav/social-nav.astro";
import Profile from "../personal-info/profile.astro";
---

<div
  class="relative flex items-center justify-between bg-white px-4 py-3 shadow-sm ring-1 ring-zinc-200"
>
  <Profile hideRole />

  <span id="mobile-nav-toggle">
    <HamburgerButton client:load />
  </span>

  <div
    class="pointer-events-none absolute left-0 top-full -z-10 w-full -translate-y-10 bg-white p-4 pb-6 opacity-0 shadow-sm ring-1 ring-zinc-200 transition duration-200"
    id="mobile-nav"
  >
    <SectionNav shouldReload />

    <SocialNav />
  </div>
</div>

<script>
  document.addEventListener("astro:page-load", () => {
    const toggle = document.querySelector("#mobile-nav-toggle")!;
    const mobileNav = document.querySelector("#mobile-nav")!;

    toggle.addEventListener("click", () => {
      const toggleClasses =
        "pointer-events-none opacity-0 -translate-y-10".split(" ");

      for (const className of toggleClasses) {
        mobileNav.classList.toggle(className);
      }

      document.body.classList.toggle("overflow-hidden");
    });

    const isDesktopMediaQuery = window.matchMedia("(min-width: 640px)");

    const removeMobileNav = () => {
      mobileNav.classList.add("hidden");
      document.body.classList.remove("overflow-hidden");
    };

    isDesktopMediaQuery.addEventListener("change", (e) => {
      if (e.matches) removeMobileNav();
    });
  });
</script>
