---
import MobileHeader from "./mobile-header.astro";
import SideBar from "./side-bar.astro";
---

<div class="sticky left-0 top-0 z-10 *:h-full sm:h-dvh">
  <div class="sm:hidden">
    <MobileHeader />
  </div>

  <div class="hidden sm:block">
    <SideBar />
  </div>
</div>
