---
import SectionNav from "../nav/section-nav.astro";
import SocialNav from "../nav/social-nav.astro";
import Profile from "../personal-info/profile.astro";
---

<aside class="min-w-max max-w-[14.85vw] px-4 py-6">
  <div class="mb-6 px-2">
    <Profile />
  </div>

  <SectionNav />

  <SocialNav />
</aside>
