---
import ExperienceList from "@/components/experience-list.astro";
import location from "../assets/icons/location.svg?raw";
import PersonalBio from "@/components/personal-bio.astro";
import ServicesList from "@/components/services-list.astro";
import SimpleContactMeSection from "@/components/simple-contact-me-section.astro";
import ToolsTable from "@/components/tools-table.astro";
import MainLayout from "@/layouts/main-layout.astro";

const servicesList = [
  {
    title: "Webflow",
    description: "from $100 per hour",
    icon: location,
  },
  {
    title: "Shopify",
    description: "from $100 per hour",
    icon: location,
  },
  {
    title: "GitHub",
    description: "from $100 per hour",
    icon: location,
  },
];

const experienceList = [
  {
    jobTitle: "Lead Designer",
    companyName: "Phenom.com",
    period: "2022 - Present",
    description:
      "I was the lead designer for the design system of Phenom.com. I worked with the team to create a user-centered design system that was easy to use and intuitive for both designers and developers.",
    img: {
      src: "https://picsum.photos/200/300",
      alt: "Phenom.com",
    },
  },
  {
    jobTitle: "Lead Designer",
    companyName: "Bidroom.com",
    period: "2022 - Present",
    description:
      "I was the lead designer for the design system of Bidroom.com. I worked with the team to create a user-centered design system that was easy to use and intuitive for both designers and developers.",
    img: {
      src: "https://picsum.photos/200/300",
      alt: "Bidroom.com",
    },
  },
];
---

<MainLayout title="About Me" description="Lorem ipsum dolor sit amet">
  <main class="space-y-20">
    <PersonalBio />

    <section class="space-y-8">
      <h2>Services</h2>

      <ServicesList list={servicesList} />
    </section>

    <section class="space-y-8">
      <h2>Tools</h2>

      <ToolsTable />
    </section>

    <section class="space-y-8">
      <h2>Experience</h2>

      <ExperienceList list={experienceList} />
    </section>

    <SimpleContactMeSection />
  </main>
</MainLayout>
