---
import SimpleContactMeSection from "@/components/contact/simple-contact-me-section.astro";
import ExperienceList from "@/components/personal-info/experience-list.astro";
import PersonalBio from "@/components/personal-info/personal-bio.astro";
import ServicesList from "@/components/personal-info/services-list.astro";
import ToolsTable from "@/components/personal-info/tools-table.astro";
import { SERVICES } from "@/constants/services";
import MainLayout from "@/layouts/main-layout.astro";

import { EXPERIENCE } from "@/constants/experience";
---

<MainLayout title="About Me" description="Lorem ipsum dolor sit amet">
  <main class="space-y-20">
    <PersonalBio />

    <section class="space-y-8">
      <h2>Services</h2>

      <ServicesList
        list={SERVICES.map((service) => ({
          icon: service.icon,
          title: service.name,
          description: service.description,
        }))}
      />
    </section>

    <section class="space-y-8">
      <h2>Tools</h2>

      <ToolsTable />
    </section>

    <section class="space-y-8">
      <h2>Experience</h2>

      <ExperienceList list={EXPERIENCE} />
    </section>

    <SimpleContactMeSection />
  </main>
</MainLayout>
