---
import ContactMethods from "@/components/contact/contact-methods.astro";
import MainLayout from "@/layouts/main-layout.astro";
---

<MainLayout title="Contact" description="Contact me">
  <main>
    <h1>Contact</h1>

    <p class="mt-2.5">
      I'm always excited to collaborate on innovative and exciting projects!
    </p>

    <hr class="mb-10 mt-10 border-zinc-200" />

    <ContactMethods />
  </main>
</MainLayout>
