---
import location from "../assets/icons/location.svg?raw";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import MainLayout from "../layouts/main-layout.astro";
import PersonalIntro from "../components/personal-intro.astro";
import WorkList from "@/components/work-list.astro";
import ServicesList from "@/components/services-list.astro";
import SimpleContactMeSection from "@/components/simple-contact-me-section.astro";

const workList = [
  {
    title: "Webflow",
    yearStart: "2022",
    yearEnd: "Present",
    img: {
      src: "https://picsum.photos/200/300",
      alt: "Webflow",
    },
  },
  {
    title: "Shopify",
    yearStart: "2021",
    yearEnd: "2022",
    img: {
      src: "https://picsum.photos/200/300",
      alt: "Shopify",
    },
  },
  {
    title: "Shopify",
    yearStart: "2021",
    yearEnd: "2022",
    img: {
      src: "https://picsum.photos/200/300",
      alt: "Shopify",
    },
  },
  {
    title: "Shopify",
    yearStart: "2021",
    yearEnd: "2022",
    img: {
      src: "https://picsum.photos/200/300",
      alt: "Shopify",
    },
  },
];

const servicesList = [
  {
    title: "Webflow",
    description: "from $100 per hour",
    icon: location,
  },
  {
    title: "Shopify",
    description: "from $100 per hour",
    icon: location,
  },
  {
    title: "GitHub",
    description: "from $100 per hour",
    icon: location,
  },
];
---

<MainLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <main class="space-y-20">
    <PersonalIntro />

    <section class="space-y-8">
      <h2 class="text-2xl font-bold">Selected Work</h2>

      <WorkList list={workList} />
    </section>

    <section class="space-y-8">
      <h2 class="text-2xl font-bold">Selected Services</h2>

      <ServicesList list={servicesList} />
    </section>

    <SimpleContactMeSection />
  </main>
</MainLayout>
