---
import SimpleContactMeSection from "@/components/contact/simple-contact-me-section.astro";
import ArticleList from "@/components/lists/article-list.astro";
import PersonalIntro from "@/components/personal-info/personal-intro.astro";
import ServicesList from "@/components/personal-info/services-list.astro";
import WorkList from "@/components/personal-info/work-list.astro";
import { SERVICES } from "@/constants/services";
import { getCollection } from "astro:content";
import MainLayout from "../layouts/main-layout.astro";

const allProjects = await getCollection("projects");

const projects = allProjects.filter((project) => project.data.highlighted);
---

<MainLayout title="Diego Reyes Cabrera" description="">
  <main class="space-y-20">
    <PersonalIntro />

    <section class="space-y-8">
      <h2>Selected Work</h2>

      <WorkList
        list={projects.map((project) => ({
          ...project.data,
          url: `/projects/${project.id}`,
          img: {
            src: project.data.imgUrl,
            alt: project.data.title,
          },
        }))}
      />
    </section>

    <section class="space-y-8">
      <h2>Selected Services</h2>

      <ServicesList
        list={SERVICES.map((service) => ({
          icon: service.icon,
          title: service.name,
          description: service.description,
        }))}
      />
    </section>

    <section class="space-y-8">
      <h2>Blog</h2>

      <ArticleList />
    </section>

    <SimpleContactMeSection />
  </main>
</MainLayout>
