---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import MainLayout from "../layouts/main-layout.astro";
import PersonalIntro from "../components/personal-intro.astro";
import WorkList from "@/components/work-list.astro";

const workList = [
  {
    title: "Webflow",
    yearStart: "2022",
    yearEnd: "Present",
    img: {
      src: "https://picsum.photos/200/300",
      alt: "Webflow",
    },
  },
  {
    title: "Shopify",
    yearStart: "2021",
    yearEnd: "2022",
    img: {
      src: "https://picsum.photos/200/300",
      alt: "Shopify",
    },
  },
  {
    title: "Shopify",
    yearStart: "2021",
    yearEnd: "2022",
    img: {
      src: "https://picsum.photos/200/300",
      alt: "Shopify",
    },
  },
  {
    title: "Shopify",
    yearStart: "2021",
    yearEnd: "2022",
    img: {
      src: "https://picsum.photos/200/300",
      alt: "Shopify",
    },
  },
];
---

<MainLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <main class="space-y-20">
    <PersonalIntro />

    <section class="space-y-8">
      <h2 class="text-2xl font-bold">Selected Work</h2>

      <WorkList list={workList} />
    </section>
  </main>
</MainLayout>
