---
import ContactMethods from "./contact-methods.astro";
---

<section
  class="mt-10 border-t border-solid border-zinc-200 pt-10 sm:mt-20 sm:pt-20"
>
  <h2 class="leading-none">Got questions?</h2>

  <p class="mb-10 mt-5 text-sm">
    I'm always happy to talk about my work and how I can help your team.
  </p>

  <ContactMethods />
</section>
