---
import { Link } from "./ui/link";
---

<div class="flex gap-5 flex-wrap">
  <Link href="#">Schedule a call</Link>
  <Link href="mailto:hello@dreyescabrera.dev" variant="outline">
    Send me an email
  </Link>
</div>
