---
const today = new Date();
const year = today.getFullYear();
---

<footer
  class="pt-10 mt-10 border-t-2 border-solid border-slate-100 flex gap-2.5 sm:*:leading-none"
>
  <span>Made by <span class="font-medium">Diego Reyes Cabrera</span></span>
  <span>·</span>
  <span>© {year} All rights reserved.</span>
</footer>
