---
const today = new Date();
const year = today.getFullYear();
---

<footer
  class="pt-10 mt-10 sm:mt-20 border-t-2 border-solid border-slate-100 flex gap-2.5 sm:*:leading-none"
>
  <p class="text-sm">
    Made by
    <span class="text-black"> Diego Reyes Cabrera </span>
  </p>
</footer>
