---
import { Image } from "astro:assets";
import profileImage from "../assets/images/profile.jpg";
---

<section aria-label="Profile" class="flex items-center gap-4">
  <Image
    src={profileImage}
    alt="Diego Reyes Cabrera"
    width={150}
    height={150}
    class="size-14 object-cover object-top rounded-lg"
  />

  <div class="space-y-2 *:leading-none">
    <h2 class="font-medium">Diego Reyes Cabrera</h2>

    <p class="text-zinc-700">Software Engineer</p>
  </div>
</section>
