---
import type { HTMLAttributes } from "astro/types";
import Icon from "./icon.astro";

interface Props {
  title: string;
  icon: string;
  href: string;
  target?: HTMLAttributes<"a">["target"];
}

const { title, icon, href, target } = Astro.props;

const pathname = Astro.url.pathname;

console.log(pathname, href);

const isActive = href === "/" ? pathname === "/" : pathname.startsWith(href);
---

<a
  href={href}
  target={target}
  class={`flex rounded-xl items-center gap-2.5 py-2 px-2 transition-colors duration-300 hover:bg-gray-200/75 hover:text-black ${isActive ? "bg-gray-200/75 text-black" : "text-zinc-500"}`}
>
  <Icon icon={icon} class="size-5" />
  <span class="text-xs">{title}</span>
</a>
