---
import Profile from "./profile.astro";
import SideBarItem from "./side-bar-item.astro";
import { NAV_LINKS, SOCIAL_LINKS } from "../constants/nav-links";
import SectionNav from "./section-nav.astro";
import SocialNav from "./social-nav.astro";
---

<aside class="px-4 py-6 min-w-max max-w-[14.85vw]">
  <div class="px-2 mb-6">
    <Profile />
  </div>

  <SectionNav />

  <SocialNav />
</aside>
