---
import ContactMethods from "./contact-methods.astro";
---

<section
  class="pt-10 mt-10 sm:pt-20 sm:mt-20 border-t border-solid border-zinc-200"
>
  <h2 class="leading-none">Got questions?</h2>

  <p class="mt-5 mb-10 text-sm">
    I'm always happy to talk about my work and how I can help your team.
  </p>

  <ContactMethods />
</section>
