---
import ContactMethods from "./contact-methods.astro";
---

<section class="pt-20 border-t border-solid border-zinc-200">
  <h2 class="text-2xl font-semibold leading-none">Got questions?</h2>

  <p class="text-zinc-700 mt-2.5 mb-6">
    I'm always happy to talk about my work and how I can help your team.
  </p>

  <ContactMethods />
</section>
