---
import { SOCIAL_LINKS } from "@/constants/nav-links";
import SideBarItem from "./side-bar-item.astro";
---

<Fragment>
  <h3
    class="mt-5 mb-3.5 text-xs tracking-normal text-zinc-500 font-normal leading-none"
  >
    Social
  </h3>

  <ul class="space-y-1.5">
    {
      SOCIAL_LINKS.map(({ title, icon, href }) => (
        <li>
          <SideBarItem title={title} icon={icon} href={href} target="_blank" />
        </li>
      ))
    }
  </ul>
</Fragment>
