---
import arrowLeft from "@/assets/icons/arrow-left.svg?raw";
import Icon from "../utils/icon.astro";

interface Props {
  href: string;
}

const { href } = Astro.props;
---

<section class="mt-10">
  <a
    class="inline-flex items-center gap-1 text-sm text-zinc-500 hover:text-zinc-700"
    href={href}
  >
    <Icon icon={arrowLeft} />
    Back to list
  </a>

  <div class="mb-5 mt-2.5 h-px w-full bg-zinc-200"></div>
</section>
