---
import { SOCIAL_LINKS } from "@/constants/nav-links";
import SideBarItem from "../layout/side-bar-item.astro";
---

<Fragment>
  <h3
    class="mb-3.5 mt-5 text-xs font-normal leading-none tracking-normal text-zinc-500"
  >
    Social
  </h3>

  <ul class="space-y-1.5">
    {
      SOCIAL_LINKS.map(({ title, icon, href }) => (
        <li>
          <SideBarItem title={title} icon={icon} href={href} target="_blank" />
        </li>
      ))
    }
  </ul>
</Fragment>
